@mixin visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin placeholder($color: grey) {
    &::placeholder {
    color: $color;
    text-overflow:ellipsis;
  }

  &:-moz-placeholder {
    color: $color;
    text-overflow:ellipsis;
  }

  &::-moz-placeholder {
    color: $color;
    text-overflow:ellipsis;
  }

  &::-webkit-input-placeholder {
    color: $color;
    text-overflow:ellipsis;
  }

  &:-ms-input-placeholder  {
    color: $color;
    text-overflow: ellipsis;
  }
}
