<div class="animated fadeIn pad__top-middle dashboard-wrap vh90">


    <div class="purchases-header">
        <button type="button" class="btn btn-secondary item-right" 
*ngIf="isAddPurchase" 
(click)="addPurchase(newPurchase)"> 
    Save
        </button>
        <button type="button" class="btn btn-secondary item-right" 
(click)="toggleAddPurchase()"> 
{{ !isAddPurchase ? 'Add' : 'Show list' }}
        </button>

    </div>

    <div *ngIf="!isAddPurchase" >

        <h4 class="purchase-h" > List of purchases : </h4>

        <div class="purchases-wrap scroll vh82">

            <div class="purchase" 
                *ngFor="let purchase of purchases; let i = index;">

                <button type="button" class="btn btn-secondary purchase-btn" 
                    *ngIf="!purchase.editPurchaseMode"
                    (click)="setEditPurchaseMode(purchase)" > Edit </button>
                <button type="button" class="btn btn-secondary purchase-btn"
                    *ngIf="purchase.editPurchaseMode" 
                    (click)="editPurchase(purchase)" > Save </button>
                <button type="button" class="btn btn-secondary purchase-btn" 
                    (click)="removePurchase(purchase)" > Remove </button>

                <p class="error-msg" 
                *ngIf="purchase.error" > 
                    Please, fix errors 
                </p>   

<p class="item-cntr" >
    <img class="purchase-img"
    *ngIf="purchase.imgUrl" 
    [src]="purchase.imgUrl" >
</p>
<p class="item-cntr" 
*ngIf="purchase.editPurchaseMode" >
    <input type="file" (change)="purchasesService.fileChangeEvent($event, purchase)" placeholder="Upload file..." />
</p>
<!--
<button type="button" (click)="purchasesService.upload()">Upload</button>
-->


                <p  class="flex item-cntr" > 
                    <span class="item-title" > Id: </span> 
                    <span  class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.id }} 
                    </span>
                    <input type="text"  class="item-input"  
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.id" >
                </p>
                <p  class="flex item-cntr" > 
                    <span class="item-title" > Order: </span> 
                    <span  class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.order }} 
                    </span>
                    <input type="text" class="item-input" 
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.order" >
                </p>
                <p  class="flex item-cntr" > 
                    <span class="item-title" > Discount: </span> 
                    <span  class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.discount }} 
                    </span>
                    <input type="text" class="item-input" 
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.discount" >
                </p>
                <p  class="flex item-cntr" > 
                    <span class="item-title" > Image: </span>
                    <span class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.packageImage }} 
                    </span>
                    <input type="text" class="item-input" 
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.packageImage" >
                </p>

                <h5> Gift </h5>
                <p  class="flex item-cntr" > 
                    <span class="item-title" > Simple: </span> 
                    <span  class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.simple }} 
                    </span>
                    <input type="text"  class="item-input" 
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.simple" >
                </p>
                <p  class="flex item-cntr" > 
                    <span class="item-title" > Rare: </span> 
                    <span  class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.rare }} 
                    </span>
                    <input type="text" class="item-input" 
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.rare" >
                </p>
                <p  class="flex item-cntr" > 
                    <span class="item-title">  Excellent: </span> 
                    <span class="item-input" 
                    *ngIf="!purchase.editPurchaseMode" > 
                    {{ purchase.excellent }} 
                    </span>
                    <input type="text" class="item-input"  
                    *ngIf="purchase.editPurchaseMode"
                    [(ngModel)]="purchase.excellent" >
                </p>

            </div>

        </div>

        <div class="no-items"
            *ngIf="!purchases || !purchases.length" >
                there are no purchases
        </div>

    </div>


    <div *ngIf="isAddPurchase" >

                <p class="error-msg" 
                *ngIf="newPurchase.error" > 
                    Please, fix errors 
                </p>

<p class="item-cntr" >
    <img class="purchase-img"
    *ngIf="newPurchase.imgUrl" 
    [src]="newPurchase.imgUrl" >
</p>
<p class="item-cntr" >
    <input type="file" (change)="purchasesService.fileChangeEvent($event, newPurchase)" placeholder="Upload file..." />
</p>
<!--
<button type="button" (click)="purchasesService.upload()">Upload</button>
-->
      
                <p class="flex item-cntr" > 
                    <span class="item-title" > Id: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.id" >
                </p>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Order: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.order" >
                </p>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Discount: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.discount" >
                </p>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Image: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.packageImage" >
                </p>
                <h5> Gift </h5>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Simple: </span> 
                    <input type="text" class="item-input"
                    [(ngModel)]="newPurchase.simple" >
                </p>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Rare: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.rare" >
                </p>
                <p class="flex item-cntr" > 
                    <span class="item-title" > Excellent: </span> 
                    <input type="text" class="item-input" 
                    [(ngModel)]="newPurchase.excellent" >
                </p>

    </div>



</div>