@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-container-sidebar {
    min-width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;

    padding-top: 70px;

    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

}

.small-btn {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--currency {
        font-size: 0;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        background-image: url("/assets/images/ico-dollar.png");
    }

    &--back {
        width: 2.143em;
        height: 2.143em;
        background-image: url("/assets/images/ico-back.png");
    }

    &--history {
        width: 2.143em;
        height: 2.143em;
        background-image: url("/assets/images/ico-history-clock.png");  
    }
}

.sidebar-content {
    padding-bottom: 1.429em;
    color: $marineblue;
    padding: 0 9%;
}


.sidebar-header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-height: 72px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.429em;
    padding-top: 2.143em;
    padding-bottom: 0.7143em;
    background-color: $dark-two;
    color: white;

}

.sidebar-footer {
    padding: 0 9%;
    margin-top: auto;
    padding-bottom: 1.429em;
    min-height: 122px;


    .button {
        max-width: 340px;
        margin: 0 auto;
        font-size: 1.286em;
        line-height: 1;
        text-align: center;
        padding: 1em 2.143em;
        text-transform: capitalize;
    }
}

.sidebar-footer__notification {
    width: 60%;
    margin: 0 auto;
    margin-top: 1.429em;
    font-size: 0.7143em;
    text-align: center;

    .notification__link {
        font-family: 'OpenSans-Semibold';
        font-weight: 600; 
    }
}

.sidebar-title {
    font-family: 'OpenSans-Semibold';
    font-weight: 600;
    color: white;
    font-size: 1.286em;
    text-align: center;
    min-width: calc(100% - 60px);

    span {
        color: white;
    }
}

.balance {
    padding: 3em 9%;
    background-color: $dark-two;
    color: $blue-grey-three;
    font-size: 1.286em;
    text-transform: capitalize;

    p, span {
        color: $blue-grey-three;
    }

    .balance__amount {
        margin-top: 6px;
        color: white;
        font-size: 2.286em;
        font-family: 'OpenSans-Semibold';
        font-weight: 600px;
    }

    .icon--currency {
        width: 22px;
        height: 22px;
        margin-right: 1.143rem;
    }

}


.faq__question {
    font-size: 1.286em;
    margin-top: 1.429em;
    margin-bottom: 0.8571em;
    font-family: 'OpenSans-Semibold';
    font-weight: 600px;
}

.faq__answer {
    font-size: 1.143em;
    margin: 1em 0;

}

.withdraw__p {
    margin: 1em 0;
    font-size: 1.143em;
    color: $main-dark;
    font-family: 'OpenSans-Light';
    font-weight: 300;
}

.withdraw__option {
    &:not(:last-child) {
        border-bottom: 0.7px solid transparentize($silver-three, 0.7);
    }

    input[type="radio"] {
        @include visually-hidden;
    }
}

input[type="radio"]:disabled + .withdraw__amount {
    opacity: 0.3;
    cursor: auto;
}

input[type="radio"]:checked + .withdraw__amount {
    opacity: 0.8;
}

.withdraw__amount {
    display: block;
    padding: 1em 0;
    font-family: 'OpenSans-Semibold';
    font-weight: 600; 
    font-size: 1.286em;
    line-height: 1;

    background-image: url("/assets/images/ico-half-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;

    cursor: pointer;

    span {
        display: inline-block;
        vertical-align: middle;
    }

}

.broadcast-details__item,
.income-history__link {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--underlined {
        padding:  1.429em 0;

        &:not(:first-of-type) {
            border-top: 0.7px solid transparentize($silver-three, 0.7);
            margin-top: 0.7143em;
        }
    }
}

.income-history__link {
    padding-right: 24px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
    background-image: url("/assets/images/ico-half-arrow.png");
}

.broadcast-details__item-name {
    padding: 0.7143em 0;
    text-align: left;
    font-size: 1.286em;
}

.broadcast-details__item-value {
    padding: 0.7143em 0;
    text-align: right;
    font-family: 'OpenSans-Semibold';
    font-weight: 600;
    font-size: 1.286em;

    span {
        display: inline-block;
        vertical-align: middle;
    }

}

.income-history__item {
    padding:  0.7143em 0;

    &:not(:first-of-type) {
        border-top: 0.7px solid transparentize($silver-three, 0.7);
    }
}

.income-history__month {
    margin-top: 1.143em;
    font-family: 'OpenSans-Light';
    font-weight: 300;
    font-size: 1.143em;
    text-align: left;
    color: $main-dark;
}

.income-history__date {
    padding: 0.7143em 0;
    text-align: left;
    font-size: 1.143em;
}

.income-history__balance {
    padding: 0.7143em 0;
    text-align: right;
    font-family: 'OpenSans-Semibold';
    font-weight: 600;
    font-size: 1.286em;

    span {
        display: inline-block;
        vertical-align: middle;
    } 
}

.income-history-item__detail {
    margin: 2.286em 0;
}


.income-history-item__detail-name {
    font-size: 1em;
    color: $bluegrey-two;
}

.income-history-item__detail-value {
    font-size: 1.286em;
    margin: 8px 0;   

    .income-history-item__detail--amount & {
        font-family: 'OpenSans-Semibold';
        font-weight: 600;
    }

}

.withdraw-terms__subtitle {
    font-family: 'OpenSans-Bold';
    font-size: 1.714em;
    margin: 1em 0;
}

.withdraw-terms__p {
    font-size: 1.143em;
    line-height: 1.3;

}