header.navbar > .img-avatar {
    height: 36px;
    margin: -3px 10px 0 10px;
}

nav.sidebar-nav {
    .form-control {
        border: 0;
        background: darken($sidebar-bg,10%);
        color: #fff;

        &::-webkit-input-placeholder { color: rgba(255,255,255,.7); }
        &:-moz-placeholder { color: rgba(255,255,255,.7); }
        &::-moz-placeholder { color: rgba(255,255,255,.7); }
        &:-ms-input-placeholder { color: rgba(255,255,255,.7); }
    }
}

.card, .social-box {
    border-top-width: 0;
    border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
    border-top-width: 1px !important;
}

[class*="card-accent-"] {
    border-top-width: 2px !important;
}

.aside-menu {
    .nav-tabs .nav-link,
    .callout {
        border-radius: 0;
    }
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.flex-justify {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;  
}

.pad__top-middle {
    padding-top: 20px;
}

.pad__right-small {
    padding-right: 5px;
}

.console {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.vh90 {
    height: 90vh;    
}
 
.vh82 {
    max-height: 82vh;
}
 
.vh76 {
    max-height: 76vh;
}


.scroll {
    overflow: scroll;
}

.session-is-active {
    font-weight: bold;
    background: #eceff3;
}

.session {
    padding: 5px;

    &__active {
        color: green;
    }
    &__closed {
        color: black;
    }
    &__error {
        color: red;
    }

}

.console__tab-header {
    border-bottom: 1px solid #eceff3 ;
}

.console__tab-item {
    padding: 7px 20px;
    border: 1px solid #eceff3 ;
    min-width: 80px;

    &__is-active {
        font-weight: bold;
        -webkit-box-shadow:inset 1px 1px 10px 1px #eceff3;
        box-shadow:inset 1px 1px 10px 1px #eceff3;
    }
}

.console-list, .dashboard-wrap {
    position: relative;
    background: white;
    padding: 5px;
    width: 30%;
    min-width: 300px;
    border: 1px solid #eceff3 ;
    -webkit-box-shadow:inset 1px 1px 10px 1px #eceff3;
    box-shadow:inset 1px 1px 10px 1px #eceff3;

    .console-list__search {
        width: 100%;
    }

    .console-list__item {
        width: 100%;
        padding-top: 5px;
    }

    &__session {
       width: 40%; 
    }

    &__table {
        width: 50%;
        min-width: 300px;
    }

    &__add {
        width: 10%;
        min-width: 100px;
    }

}

.dashboard-wrap {
    width: 100%;
}

.item-right {
    
}

.purchases-header, .dashboard-header {
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
}

.purchase-h, .no-items {
    padding: 1%;
}

.purchases-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .purchase {
	    flex-grow: 1;
        width: 32%;
        max-width: 32%;
        min-height: 200px;
        display: inline-block;
        border: 1px solid red;
        padding: 1%;
        margin-top: 5px;
        margin-left: 5px;
        border: 1px solid #eceff3 ;
        -webkit-box-shadow:inset 1px 1px 10px 1px #eceff3;
        box-shadow:inset 1px 1px 10px 1px #eceff3;

        .purchase-btn {

        }
    }

}


.pad__left-small {
    padding-left: 10px;
}

.item-cntr {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-title {
    width: 30%;
}

.item-input {
    width: 70%;
}

.error-msg {
    color: red;
}

.purchase-img {
    max-width: 250px;
}

.switch-item {
    min-width: 100px;
    margin-right: 10px;
}

.switch-item:hover {
    color: unset;
    background-color: unset;
    border-color: #ccc;
}

.switch-item.switch-active-btn , .switch-item.switch-active-btn:focus, .switch-item.switch-active-btn:focus {
    background: #52b7e8;
    color: white;
}

.dashboard-wrap {
    position: relative;
}

.dashboard-table-header {
    
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;  
    align-self: baseline; 
    justify-content: center;
    
    &__item {
        width: 22.5%;
        padding: 10px;
        text-align: center; 
        border: 1px solid #eceff3 ;
        
        &-action, &-info {
            width: 5%;
            position: relative;
        }        
    }

}

.dashboard-table-body {
    height: 150px;
    overflow: scroll;
}

.dashboard-table-body__row {
  
    display: -webkit-flex;
    display: flex;
    //justify-content: space-between; 
    align-self: baseline; 
    //justify-content: center; 
    justify-content: flex-start;

    .dashboard-table-body__cell {
        //width: 22.5%;
        width: 200px;
        //padding: 10px;
        padding: 10px 10px 10px 0;
        //border: 1px solid #eceff3 ;
        //text-overflow: ellipsis;  
        
        &-action, &-info {
            width: 5%;
            position: relative;
        }
        &-img {
            position: absolute;
            top: 10px;
            right: 5px;
            width: 25px;
            cursor: pointer;
        }
    }

}

.ngx-datatable .datatable-body .datatable-row-wrapper {
    border-bottom: 1px solid #eceff3 ;
}

img.dashboard-table-body__cell-img {
    width: 25px;
}

img.dashboard-table-body__cell-img.dashboard-table-body__cell-img-small {
    width: 15px;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    padding-top: 10px;
}

.dashboard-table-body__cell {
    overflow: hidden;
}

.datatable-body-cell-label {
    max-width: 200px;
    padding-right: 10px;
}

img.dashboard-table-body__cell-img-in {
    padding-left: 6px;
}

.btn-report, .btn-report:hover, .btn-reject, .btn-reject:hover {
    padding: 0px 2px;
    color: #bf8d8d;
    border: 1px solid #bf8d8d;
}

.btn-confirm, .btn-confirm:hover {
    padding: 0px 2px;
    color: #76a076;
    border: 1px solid #76a076;    
}

//////////////////////

[data-tooltip] {
    display: inline-block;
    position: relative;
    //cursor: help;
    //padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: black;
    color: #fff;
    padding: 4px 8px;
    font-size: 0.8em;
    line-height: 1.4;
    min-width: 140px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: black;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: black;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: black;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: black;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 9999;
}

//////////////////////

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    //display: block;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.modal-active {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */

    textarea.modal-textarea {
        min-height: 100px;
        padding: 5px 10px;
    }

    .modal-btn-group {
        padding-left: 10px;
    }

}



@media (max-width: 1300px) {

    .purchases-wrap {

        .purchase {
            width: 49%;
            max-width: 49%;
        }

    }
}


@media (max-width: 900px) {

    .purchases-wrap {

        .purchase {
            width: 100%;
            max-width: 100%;            
        }

    }

}



.dashboard-header {
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
}

.dashboard-search-wrap {
    padding: 15px;
    .dashboard-search {
        width: 200px;
    }
}

.btn-secondary {
    min-width: 65px;
}

.btn-warn, .btn-warn:hover {
    padding: 0px 2px;
    color: #ccd0bd;
    border: 1px solid #ccd0bd;    
}


.btn-unban, .btn-unban:hover {
    padding: 0px 2px;  
}

.profile-label {
    min-width: 150px;
    padding-left: 5px;
}

.profile-input {
    min-width: 300px;   
}

.btn-middle {
    min-width: 150px;      
}

.profile-table__header-row, .profile-table__body-row, 
.profile-table__header-details-row, .profile-table__body-details-row {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start; 
}

.profile-table__details {
    border: 1px solid #eceff3 ;
    -webkit-box-shadow:inset 1px 1px 10px 1px #eceff3;
    box-shadow:inset 1px 1px 10px 1px #eceff3;
}

.profile-table-cell {
    padding: 5px;
}

.profile-table__header-small , .profile-table__body-small {
    width: 50px;
}

.profile-table__header-cell , .profile-table__body-cell {
    min-width: 400px;
    width: 40%;
}








