@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-color;
    font-family: 'Opensans', sans-serif;

    box-sizing: border-box;

    img {
        max-width: 100%;
        height: auto;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
    overflow: hidden;
}

.site-content {
    padding: 0 24px;
}


.feed {
    max-width: 1244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin: 0 auto;
}

.feed__container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 $dark-blue-grey-10;
    margin: 0 auto;
    margin-bottom: 30px;

}

.shelf {
    position: relative;
    width: 100%;

    .btn-next {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 100;
        padding: 9px 3px;
        transition: width, height, right 0.5s;


        svg {
            display: block;
            margin: 0 auto;
        }

        &:hover {
            width: 28px;
            height: 28px;
            padding: 9px;
            right: -14px;
            background-color: $pink;
            border-radius: 50%;
            box-shadow: 0 1px 4px 0 rgba(218, 25, 88, 0.5);

            svg {
                fill: white;
            }
        }
    }

    animation-duration: 1s;
    animation-fill-mode: both;
    //animation-name: fadeInUp;

}


.shelf__header {
    padding: 22px 18px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.shelf__title {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    line-height: 1;
    margin: 0;
    text-align: left;

    .category-name {
        font-family: 'OpenSans-Bold';
        font-weight: 700;
        text-transform: capitalize;
    }
}

.see-all-link {
    color: $pink;
    font-size: $font-size-small;
    font-weight: 600;
    text-align: right;

    &__number {
        color: $pink;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}

.shelf__content {
    position: relative;
    overflow: hidden;
    width: 250px;

    @media (min-width: 548px) {
        width: 500px;
    }

    @media (min-width: 798px) {
        width: 750px;
    }

    @media (min-width: 1048px) and (max-width: 1200px) {
        width: 1000px;

    }

    @media (min-width: 1310px) {
        width: 1000px;
    }

    @media (min-width: 1532px) {
        width: 1250px;
    }
}


.shelf__content-inner {
    //position: absolute;
    //top: 0;
    //left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: 999999px;
}




.card {
    width: 210px;
    margin: 8px 20px;
/*
    &:not(:nth-child(1)) {
        display: none;
    }

    
    animation-duration: 1s;
    animation-fill-mode: both;
    //animation-name: fadeInRight;


    @media (min-width: 548px) {
        &:nth-child(-n+2) {
            display: block;
        }
    }

    @media (min-width: 798px) {
        &:nth-child(-n+3) {
            display: block;
        }
    }

    @media (min-width: 1048px) and (max-width: 1200px) {
        &:nth-child(-n+4) {
            display: block;
        }
    }

    @media (min-width: 1310px) {
        &:nth-child(-n+4) {
            display: block;
        }
    }

    @media (min-width: 1532px) {
        &:nth-child(-n+5) {
            display: block;
        }
    }*/
}

.card__footer {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.card__tumbnail {
    width: 210px;
    height: 140px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: $pale-grey-two;
    border-radius: 8px;
    border: 0.8px solid $pale-grey-two;
    overflow: hidden;

    &--has-tumbnail {
        background-color: black;
    }

    img {
        width: auto;
        height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

.card__title {
    margin-top: 4px;
    margin-bottom: 8px;
    max-height: 38px;
    font-family: 'OpenSans-Semibold';
    font-weight: 600;
    line-height: 1.4;
    overflow: hidden;
    //white-space: nowrap;
    text-overflow: ellipsis;
    color: $link-color;
    font-size: $font-size-small;

    &:hover,
    &:active,
    &:focus {
       text-decoration: underline;
       text-decoration-skip: ink;        
    }
}

 .card__category {
    display: inline;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-transform: capitalize;
    color: $link-color;
    
    &:after {
        content: " -";
    }
    
}

.card__video-title {
    color: $link-color;
    text-transform: capitalize;
}

.card__menu-toggle {
    cursor: pointer;
    svg {
        width: 15px;
        fill: $slate;
    }
}



.card__video-title {
    display: inline;
}

.video-info {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: $font-size-very-small;
    color: $slate;

    span {
        color: $slate;
        line-height: 18px;
        //vertical-align: text-bottom;
    }
}

.video-info__icon {
    fill: $slate;
}

.skin-color-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;

    &--1 {
        background-color: $sand;
    }
}

.username {
    font-size: $font-size-small;
    color: $main-dark;
    line-height: 1.1;

    &--default-avatar {

        .username__avatar {
        background: $barbie-pink;
        font-family: 'OpenSans-Semibold';
        font-size: 11px;
        
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        text-align: center;
        }
    }
}

.username__avatar-letter {
    color: white;
    font-size: 11px;
    line-height: 18px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

.username__avatar {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: $pale-grey-two;
    background-image: url("/assets/images/ico-profile-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 0.8px solid $pale-grey-two;
}

.username__nickname {
    display: inline-block;
    max-width: 165px;
    
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover,
    &:active,
    &:focus {
        color: $link-color;
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}

.site-header__top {
    min-height: 56px;
    background-color: $main-light;
    box-shadow: 0 2px 4px 0 $dark-blue-grey-10;
}

.site-header__bottom {
    box-shadow: 0 2px 6px 0 rgba(236, 239, 241, 0.5);
}

.site-navigation__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.site-navigation__link {
    display: block;
    padding: 12px 25px;
    color: $slate;

    &:hover,
    &:active,
    &:focus,
    &--active {
        color: $main-dark;
    }

    &--active {
        border-bottom: 2px solid $pink;
    }
}

.site-footer {
    min-height: 112px;
    margin-top: auto;
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

.site-footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "OpenSans-Semibold";
    font-weight: 600;
}

.site-footer__nav-item {
    margin: 0 22px;
}

.site-footer__copyright {
    margin-top: 25px;
    font-family: "OpenSans-Light";
    font-weight: 300;
    font-size: 14px;
}

.button-wrapper {
    margin: 30px auto;

    .button--load-more {
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {

    .site-content,
    .site-footer {
        padding-left: 264px;
    }

}
